.lol {
	background-color: lightcoral;												
	border: 1px solid red;
	border-radius: 10px;
	display: inline-block;
	margin:	2px 5px;
}
.gifbox {
    display: inline-block;
    margin: 20px;
}
.giffed {
	height: 200px;
}
